@font-face{
    font-family: mainfont;
    src: url('./font.ttf');
}
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    user-select: none;
    font-family: sans-serif;
}
::-webkit-scrollbar {
    width: 1vw;
}
::-webkit-scrollbar-thumb{
    background: var(--main-color-sec-2);
}
::-webkit-scrollbar-thumb:hover{
    background: var(--main-color);
}

::-webkit-resizer{
    display: none;
}
:root{
    --btn-radius: calc(.7vw + .7vh);
}
.header{
    position: absolute;
    width: 100%;
    height: 10%;
    background: var(--header-bg);
    box-shadow: 0 calc(.1vh) 5px var(--shadow-color);
    z-index: 1;
}

.footer{
    position: absolute;
    width: 100%;
    height: 3%;
    background: black;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(.5vw + .5vh);
}
.body{
    position: absolute;
    width: 100%;
    height: 85%;
    /*top: 10%;*/
    bottom: 3%;
    overflow: scroll;
}
.logo{
    position: absolute;
    height: 100%;
    /*background: url('./logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;*/
    right: 2%;
}
.menus{
    position: absolute;

    height: 50%;
    display: flex;
    left: .2%;
    bottom: 0;
    transform: translate(.2%,0);
}
.menus>div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: calc(1vw);
    padding-inline: calc(1vw);
    transition: all .5s;
    cursor: pointer;
    font-size: calc(1vw + 1vh);
    border-top-left-radius: calc(1vw + 1vh);
    border-top-right-radius: calc(1vw + 1vh);
}
.selected{
    background: var(--main-color);
}
.contact-input{
    border-bottom: calc(.2vh + .2vw) solid var(--main-color);
    background: none;
    font-size: calc(1.5vh + 1.5vw);
    width: 50%;
    text-align: center;
    padding-inline: 1%;
    padding-block-start: 1%;
    margin-block: 2%;
}
.contact-input:focus{
    background: var(--input-focus-bg);
}
.full-name{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.email{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.contact{
    position: absolute;
    width: 100%;
    height: 100%;
}
.message{
    border-bottom:  calc(.2vh + .2vw) solid var(--main-color);
    position: relative;
    width: 50%;
    height: 50%;
    background: var(--input-focus-bg);
    left: 50%;
    transform: translateX(-50%);
}
.submit-btn{
    cursor: pointer;
    position: relative;
    width: 30%;
    height: 10%;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 2%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: var(--btn-radius);
    box-shadow: 0 calc(.5vh) 5px var(--shadow-color);
    color: white;
    
}
.submit-btn:active{
    background: none;
    border: calc(.1vh + .1vw) solid var(--main-color);
}
.useless{
    position: relative;
    height: 10%;
    margin-top: 5%;
}
.ttl{
    position: relative;
    margin-top: 2%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.home{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
.contents-list{
    position: relative;
    width: 20%;
    height: 100%;
    background: url('./bg.jpg');
    background-position: center;
    background-size: cover;
    overflow: auto;
}
.tb{
    position: absolute;
    width: 20%;
    height: 100%;
    background: url('./bg.jpg');
    background-position: center;
    background-size: cover;
}

.disp{
    position: absolute;
    width: 76%;
    height: 100%;
    left: 20%;
    overflow: auto;
    font-size: calc(.7vw + .7vh);
    padding-inline: 2%;
}
.qiu-pro{
    height: calc(10vh + 10vw);
    border-radius: 999px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5%;
    box-shadow: 0 calc(.1vh) 5px var(--shadow-color);
}
.qiu-name{
    text-align: center;
    margin-top: 3%;
}
.pic{
    position: relative;
    margin-block: 5%;
    box-shadow: 0 calc(.1vh) 5px var(--shadow-color);
    left: 50%;
    transform: translateX(-50%);
  transition: all .5s;
  height: 60%;
  object-fit: cover;
}

.pic:hover{
    height: 100%;
    width: 100%;
    object-position: center;
}

.lst-itm{
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border-top: calc(.1vh + .1vw) solid var(--main-color);
    backdrop-filter: blur(5px);
    transition: all .5s;
}

.lst-itm:hover{
    background: var(--main-color-sec);
}
.menus>div:hover{
    background: var(--main-color-sec);
}

.content-view{
    position: relative;
    width: 100%;
    height: 100%;
  /*  background: url('./heaven.jpg'); */
    overflow: hidden;
    font-size: calc(.7vw + .7vh);
}
.content-t{
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border-top: calc(.1vh + .1vw) solid var(--main-color);
    backdrop-filter: blur(5px);
    transition: all .5s;
    font-size: calc(.8vw + .8vh);
    text-align:center;
   /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;*/
}
.content-t:hover{
    background: var(--main-color-sec);
}
.content-t-sel{
    background: var(--main-color);
}
.content-body-adapter{
    position: absolute;
    width: 94%;
    height: 94%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,.8);
   /* backdrop-filter: blur(10px);*/
    overflow: auto;
    padding-inline: 2%;
}
.c-n{
    position: absolute;
    left: 50%;
    /*font-family: mainfont;*/
    font-size: calc(2vw + 2vh);
    top: 50%;
    transform: translate(-50%,-50%);
    border-block: calc(.1vh + .1vw) solid var(--main-color);
}
.cat-name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(.5vh + .5vw);
    margin-block: 5%;
    border-bottom: calc(.1vw + .1vh) solid var(--main-color);
    text-align: center;
    background: #004e76;
    color: white;
    cursor: pointer;
    
}
.cat{
    position: relative;
    background: rgba(255,255,255,.5);
    height: auto;
    overflow: hidden;
}
.acc{
    position: relative;
    height: calc(2vh + 2vw);
    overflow: hidden;
    transition: all .5s;
}
.center{
    text-align: center;
}