:root{
    --main-color: #faaf10;
    --header-bg: #fafaff;
    --shadow-color: black;
    --input-focus-bg: #fafaff;
    --dark-bg: #eeeeee;
    --main-color-sec: rgba(245,150,0,.2);
--main-color-sec-2: rgba(245,150,0,.5);
}